<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- SEO Meta Tags-->
    <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
    <meta name="keywords"
          content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    {#    <link rel="manifest" href="site.webmanifest">#}
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="../static/Test/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../static/Test/vendor/tiny-slider/dist/tiny-slider.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../static/Test/css/theme.min.css">
    <!-- Google Tag Manager-->

    {% block head %}

    {% endblock %}

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
    </script>
</head>
<!-- Body-->
<body class="handheld-toolbar-enabled">
<!-- Google Tag Manager (noscript)-->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0"
            style="display: none; visibility: hidden;"></iframe>
</noscript>
<!-- Sign in / sign up modal-->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab"
                                            role="tab" aria-selected="true"><i
                            class="ci-unlocked me-2 mt-n1"></i>{{ ("Sign in") }}</a></li>
                    <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab"
                                            role="tab" aria-selected="false"><i
                            class="ci-user me-2 mt-n1"></i>{{ ("Sign up") }}</a></li>
                </ul>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body tab-content py-4">
                <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab"
                      onsubmit="return checkLoginModal()">
                    <div class="mb-3">
                        <label class="form-label" for="si-email">{{ ("Email address") }}</label>
                        <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com"
                               required>
                        <div class="invalid-feedback">{{ ("Please provide a valid email address.") }}</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="si-password">{{ ("Password") }}</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="si-password" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 d-flex flex-wrap justify-content-between">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" id="si-remember">
                            <label class="form-check-label" for="si-remember">{{ ("Remember me") }}</label>
                        </div>
                        <a class="fs-sm" href="#">{{ ("Forgot password?") }}</a>
                    </div>
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">{{ ("Sign in") }}</button>
                </form>
                <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab"
                      onsubmit="return checkRegisterModal()">
                    <div class="mb-3">
                        <label for="su-email">{{ ("Email address") }}</label>
                        <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com"
                               required>
                        <div class="invalid-feedback">{{ ("Please provide a valid email address.") }}</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password">{{ ("Password") }}</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="su-password-confirm">{{ ("Confirm password") }}</label>
                        <div class="password-toggle">
                            <input class="form-control" type="password" id="su-password-confirm" required>
                            <label class="password-toggle-btn" aria-label="Show/hide password">
                                <input class="password-toggle-check" type="checkbox"><span
                                    class="password-toggle-indicator"></span>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">{{ ("Sign up") }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Navbar 3 Level (Light)-->
<header class="shadow-sm">
    <!-- Topbar-->
    <div class="topbar topbar-dark bg-dark">
        <div class="container">
            <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#"
                                                           data-bs-toggle="dropdown">{{ ("Useful links") }}</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="tel:00331697720"><i class="ci-support text-muted me-2"></i>(00)
                        33 169 7720</a></li>
                    <li><a class="dropdown-item" href="/orderTracking"><i
                            class="ci-location text-muted me-2"></i>{{ ("Order tracking") }}</a></li>
                </ul>
            </div>
            <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="ci-support"></i><span
                    class="text-muted me-1">{{ ("Support") }}</span><a class="topbar-link" href="tel:00331697720">(00)
                33 169
                7720</a></div>
            <div class="tns-carousel tns-controls-static d-none d-md-block">
                <div class="tns-carousel-inner"
                     data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
                    <div class="topbar-text">{{ ("Free shipping for order now") }}</div>
                    <div class="topbar-text">{{ ("We return money within 30 days") }}</div>
                    <div class="topbar-text">{{ ("Friendly 24/7 customer support") }}</div>
                </div>
            </div>
            <div class="ms-3 text-nowrap"><a class="topbar-link me-4 d-none d-md-inline-block"
                                             href="/orderTracking"><i class="ci-location"></i>{{ ("Order tracking") }}
            </a>
                <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" href="#"
                                                                      data-bs-toggle="dropdown" id="language"></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item pb-1" href="#" onclick="setLanguage('en')"><img class="me-2"
                                                                                                    src="../static/assets/img/icon/en.png"
                                                                                                    width="20">{{ ("English") }}
                        </a>
                        </li>
                        <li><a class="dropdown-item pb-1" href="#" onclick="setLanguage('zh')"><img class="me-2"
                                                                                                    src="../static/assets/img/icon/ch.png"
                                                                                                    width="20">{{ ("Chinese") }}
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0" href="/home"><img
                    src="../static/assets/img/logo/404.png" width="75" alt="Group_404"></a>
                {#                <a#}
                {#                        class="navbar-brand d-sm-none flex-shrink-0 me-2" href="index.html"><img#}
                {#                        src="../static/Test/img/logo-icon.png"#}
                {#                        width="74" alt="Cartzilla"></a>#}
                <div class="input-group d-none d-lg-flex mx-4">
                    <input class="form-control rounded-end pe-5" type="text"
                           placeholder="{{ ("Search for products") }}" id="search-content">
                    <a href="#" onclick="return searching()" title="{{  ("search")  }}">
                        <i class="ci-search position-absolute top-50 end-0 translate-middle-y text-muted fs-base me-3"></i></a>
                </div>
                <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
                    <a class="navbar-tool navbar-stuck-toggler" href="#"><span
                            class="navbar-tool-tooltip">{{ ("Expand menu") }}</span>
                        <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
                    </a><a class="navbar-tool d-none d-lg-flex" href="/wishlist"><span
                        class="navbar-tool-tooltip">{{ ("Wishlist") }}</span>
                    <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
                </a>
{#                    change the page after login#}
                    {% if not session['user']%}
                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
                    <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                    <div class="navbar-tool-text ms-n3"><small>{{ ("Hello, Sign in") }}</small>{{ ("My Account") }}
                    </div>
                    </a>
                    {% else %}
                    <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="/logout" >
                    <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
                    <div class="navbar-tool-text ms-n3">{{ ("logout") }}
                    </div>
                    </a>
                    {% endif %}
{#                    change the page after login#}
                    <div class="navbar-tool dropdown ms-3"><a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                                                              href="/shoppingCart"><span
                            class="navbar-tool-label" id="modal-cart-number">0</span><i
                            class="navbar-tool-icon ci-cart"></i></a><a
                            class="navbar-tool-text" href="/shoppingCart"><small>{{ ("My Cart") }}</small><span
                            id="modal-cart-price">&yen;0.00</span></a>
                        <!-- Cart dropdown-->
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                                <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false"
                                     id="modal-content">
                                    {#                                    <div class="widget-cart-item pb-2 border-bottom">#}
                                    {#                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span#}
                                    {#                                                aria-hidden="true">&times;</span></button>#}
                                    {#                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"#}
                                    {#                                                                                  href="shop-product.html"><img#}
                                    {#                                                src="../static/Test/img/shop/cart/widget/01.jpg" width="64"#}
                                    {#                                                alt="Product"></a>#}
                                    {#                                            <div class="ps-2">#}
                                    {#                                                <h6 class="widget-product-title"><a href="shop-product.html">Women#}
                                    {#                                                    Colorblock Sneakers</a></h6>#}
                                    {#                                                <div class="widget-product-meta"><span#}
                                    {#                                                        class="text-accent me-2">$150.<small>00</small></span><span#}
                                    {#                                                        class="text-muted">x 1</span></div>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="widget-cart-item py-2 border-bottom">#}
                                    {#                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span#}
                                    {#                                                aria-hidden="true">&times;</span></button>#}
                                    {#                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"#}
                                    {#                                                                                  href="shop-product.html"><img#}
                                    {#                                                src="../static/Test/img/shop/cart/widget/02.jpg" width="64"#}
                                    {#                                                alt="Product"></a>#}
                                    {#                                            <div class="ps-2">#}
                                    {#                                                <h6 class="widget-product-title"><a href="shop-product.html">TH Jeans#}
                                    {#                                                    City Backpack</a></h6>#}
                                    {#                                                <div class="widget-product-meta"><span#}
                                    {#                                                        class="text-accent me-2">$79.<small>50</small></span><span#}
                                    {#                                                        class="text-muted">x 1</span></div>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="widget-cart-item py-2 border-bottom">#}
                                    {#                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span#}
                                    {#                                                aria-hidden="true">&times;</span></button>#}
                                    {#                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"#}
                                    {#                                                                                  href="shop-product.html"><img#}
                                    {#                                                src="../static/Test/img/shop/cart/widget/03.jpg" width="64"#}
                                    {#                                                alt="Product"></a>#}
                                    {#                                            <div class="ps-2">#}
                                    {#                                                <h6 class="widget-product-title"><a href="shop-product.html">3-Color Sun#}
                                    {#                                                    Stash Hat</a></h6>#}
                                    {#                                                <div class="widget-product-meta"><span#}
                                    {#                                                        class="text-accent me-2">$22.<small>50</small></span><span#}
                                    {#                                                        class="text-muted">x 1</span></div>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {#                                    <div class="widget-cart-item py-2 border-bottom">#}
                                    {#                                        <button class="btn-close text-danger" type="button" aria-label="Remove"><span#}
                                    {#                                                aria-hidden="true">&times;</span></button>#}
                                    {#                                        <div class="d-flex align-items-center"><a class="flex-shrink-0"#}
                                    {#                                                                                  href="shop-product.html"><img#}
                                    {#                                                src="../static/Test/img/shop/cart/widget/04.jpg" width="64"#}
                                    {#                                                alt="Product"></a>#}
                                    {#                                            <div class="ps-2">#}
                                    {#                                                <h6 class="widget-product-title"><a href="shop-product.html">Cotton Polo#}
                                    {#                                                    Regular Fit</a></h6>#}
                                    {#                                                <div class="widget-product-meta"><span#}
                                    {#                                                        class="text-accent me-2">$9.<small>00</small></span><span#}
                                    {#                                                        class="text-muted">x 1</span></div>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                                <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                                    <div class="fs-sm me-2 py-2"><span
                                            class="text-muted">{{ ("Subtotal:") }}</span><span
                                            class="text-accent fs-base ms-1" id="subTotal">&yen;0.00</span>
                                    </div>
                                    <a class="btn btn-outline-secondary btn-sm"
                                       href="/shoppingCart">{{ ("Expand cart") }}<i
                                            class="ci-arrow-right ms-1 me-n1"></i></a>
                                </div>
                                <a class="btn btn-primary btn-sm d-block w-100" href="/checkoutDetails"><i
                                        class="ci-card me-2 fs-base align-middle"></i>{{ ("Checkout") }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Search-->
                    <div class="input-group d-lg-none my-3"><i
                            class="ci-search position-absolute top-50 start-0 translate-middle-y text-muted fs-base ms-3"></i>
                        <input class="form-control rounded-start" type="text" placeholder="Search for products">
                    </div>
                    <!-- Primary menu-->
                    <ul class="navbar-nav" style="margin-left: 40%">
                        <li class="nav-item dropdown" style="width: 80px"><a class="nav-link"
                                                                             href="/home">{{ ("Home") }}</a>
                        </li>

                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                                         data-bs-toggle="dropdown">{{ ("Shop") }}</a>
                            <div class="dropdown-menu p-0">
                                <div class="d-flex flex-wrap flex-sm-nowrap px-2">
                                    <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                                        <div class="widget widget-links mb-4">
                                            <h6 class="fs-base mb-3">{{ ("Shop pages") }}</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productGrid">{{ ("Shop Grid - Left Sidebar") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productList">{{ ("Shop List - Left Sidebar") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productRecommended">{{ ("Recommended Products") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/search">{{ ("Searching Products") }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                                        <div class="widget widget-links">
                                            <h6 class="fs-base mb-3">{{ ("Category") }}</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productGrid">{{ ("Rose") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productGrid">{{ ("Peony") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productGrid">{{ ("Carnation") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/productGrid">{{ ("Tulip") }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                                        <div class="widget widget-links mb-4">
                                            <h6 class="fs-base mb-3">{{ ("Services") }}</h6>
                                            <ul class="widget-list">
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/shoppingCart">{{ ("Shopping Cart") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/wishlist">{{ ("Wishlist") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/orderTracking">{{ ("Order Tracking") }}</a>
                                                </li>
                                                <li class="widget-list-item"><a class="widget-list-link"
                                                                                href="/chat">{{ ("Contact us") }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        {#                        <div class="widget widget-links">#}
                                        {#                          <h6 class="fs-base mb-3">Food Delivery</h6>#}
                                        {#                          <ul class="widget-list">#}
                                        {#                            <li class="widget-list-item"><a class="widget-list-link" href="food-delivery-category.html">Category Page</a></li>#}
                                        {#                            <li class="widget-list-item"><a class="widget-list-link" href="food-delivery-single.html">Single Item (Restaurant)</a></li>#}
                                        {#                            <li class="widget-list-item"><a class="widget-list-link" href="food-delivery-cart.html">Cart (Your Order)</a></li>#}
                                        {#                            <li class="widget-list-item"><a class="widget-list-link" href="food-delivery-checkout.html">Checkout (Address &amp; Payment)</a></li>#}
                                        {#                          </ul>#}
                                        {#                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                                         data-bs-toggle="dropdown">{{ ("Account") }}</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"
                                                        data-bs-toggle="dropdown">{{ ("Shop User Account") }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/accountOrder">{{ ("Orders History") }}</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="/accountProfile">{{ ("Profile Settings") }}</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="/accountAddress">{{ ("Account Addresses") }}</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="/accountPayment">{{ ("Payment Methods") }}</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/wishlist">{{ ("Wishlist") }}</a></li>
                                        <li><a class="dropdown-item" href="/friend">{{ ("My friends") }}</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="/login">{{ ("Sign In / Sign Up") }}</a></li>
                                <li><a class="dropdown-item" href="/ALogin">{{ ("Administrator Login") }}</a></li>
                                <li><a class="dropdown-item"
                                       href="/resetPasswordRequest">{{ ("Password Recovery") }}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                                                data-bs-toggle="dropdown">{{ ("Services") }}</a>
                            <ul class="dropdown-menu">
{#                                <li><a class="dropdown-item" href="/aboutUs">{{ ("About Us") }}</a></li>#}
                                <li><a class="dropdown-item" href="/chat">{{ ("Contacts") }}</a></li>
{#                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#"#}
{#                                                        data-bs-toggle="dropdown">{{ ("Help Center") }}</a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a class="dropdown-item" href="#">{{ ("Help Topics") }}</a></li>#}
{#                                        <li><a class="dropdown-item" href="#">{{ ("Single Topic") }}</a></li>#}
{#                                        <li><a class="dropdown-item" href="#">{{ ("Submit A Request") }}</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
                            </ul>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                                         data-bs-toggle="dropdown">{{ ("Blog") }}</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item dropdown-toggle" href="/postBlogs"
                                                        >{{ ("Post a blog") }}</a>
                                </li>
                                <li><a class="dropdown-item dropdown-toggle" href="/blog"
                                                        >{{ ("Blogs") }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}


{% endblock %}
<footer class="bg-dark pt-5">
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">{{ ("Shop") }}</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/productGrid">{{ ("Product-Grid") }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/productList">{{ ("Product-List") }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/productRecommended">{{ ("Recommended Products") }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/search">{{ ("Searching Products") }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/shoppingCart">{{ ("Shopping Cart") }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/wishlist">{{ ("Wishlist") }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">{{ ("Account &amp; Shipping info") }}</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/accountProfile">{{ ("My Account") }}</a>
                        </li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/orderTracking">{{ ("Order Tracking") }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link" href="#">{{ ("Delivery Info") }}</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-links widget-light pb-2 mb-4">
                    <h3 class="widget-title text-light">{{ ("Services") }}</h3>
                    <ul class="widget-list">
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/aboutUs">{{ ("About Website") }}</a></li>
                        <li class="widget-list-item"><a class="widget-list-link"
                                                        href="/chat">{{ ("Chat Services") }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget pb-2 mb-4">
                    <h3 class="widget-title text-light pb-1">{{ ("Stay informed") }}</h3>
                    <form class="subscription-form validate"
                          action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
                          method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <div class="input-group flex-nowrap"><i
                                class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                            <input class="form-control rounded-start" type="email" name="EMAIL"
                                   placeholder="{{ ("Your email") }} "
                                   required>
                            <button class="btn btn-primary" type="submit" name="subscribe">{{ ("Subscribe") }}</button>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input class="subscription-form-antispam" type="text"
                                   name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
                        </div>
                        <div class="form-text text-light opacity-50">{{ ("Subscribe to our newsletter to receive early discount offers, updates and new products info.") }}
                        </div>
                        <div class="subscription-status"></div>
                    </form>
                </div>
                {#                <div class="widget pb-2 mb-4">#}
                {#                    <h3 class="widget-title text-light pb-1">Download our app</h3>#}
                {#                    <div class="d-flex flex-wrap">#}
                {#                        <div class="me-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span#}
                {#                                class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a>#}
                {#                        </div>#}
                {#                        <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span#}
                {#                                class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    <div class="pt-5 bg-darker">
        <div class="container">
            <div class="row pb-3">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">{{ ("Fast and free delivery") }}</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">{{ ("Free delivery for all orders now") }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">{{ ("Money back guarantee") }}</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">{{ ("We return money within 30 days") }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">{{ ("24/7 customer support") }}</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">{{ ("Friendly 24/7 customer support") }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
                        <div class="ps-3">
                            <h6 class="fs-base text-light mb-1">{{ ("Secure online payment") }}</h6>
                            <p class="mb-0 fs-ms text-light opacity-50">{{ ("We possess SSL / Secure сertificate") }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr-light mb-5">
            <div class="row pb-2">
                <div class="col-md-6 text-center text-md-start mb-4">
                    <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img
                            class="d-block" src="../static/assets/img/logo/404.png" width="60" alt="Group_404"></a>
                        <div class="btn-group dropdown disable-autohide">
                            <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button"
                                    data-bs-toggle="dropdown"><img class="me-2"
                                                                   src="../static/assets/img/icon/en.png"
                                                                   width="20">{{ ("English") }}
                            </button>
                            <ul class="dropdown-menu my-1">
                                <li><a class="dropdown-item pb-1" href="#" onclick="setLanguage('en')"><img class="me-2"
                                                                                                            src="../static/assets/img/icon/en.png"
                                                                                                            width="20">{{ ("English") }}
                                </a>
                                </li>
                                <li><a class="dropdown-item pb-1" href="#" onclick="setLanguage('zh')"><img class="me-2"
                                                                                                            src="../static/assets/img/icon/ch.png"
                                                                                                            width="20">{{ ("Chinese") }}
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {#                    <div class="widget widget-links widget-light">#}
                    {#                        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">#}
                    {#                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Outlets</a></li>#}
                    {#                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Affiliates</a></li>#}
                    {#                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a></li>#}
                    {#                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a></li>#}
                    {#                            <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms of use</a></li>#}
                    {#                        </ul>#}
                    {#                    </div>#}
                </div>
                <div class="col-md-6 text-center text-md-end mb-4">
                    <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i
                            class="ci-twitter"></i></a><a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i
                            class="ci-facebook"></i></a><a class="btn-social bs-light bs-instagram ms-2 mb-2"
                                                           href="#"><i class="ci-instagram"></i></a><a
                            class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i class="ci-pinterest"></i></a><a
                            class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i class="ci-youtube"></i></a>
                    </div>
                    <img class="d-inline-block" src="../static/Test/img/cards-alt.png" width="187"
                         alt="Payment methods">
                </div>
            </div>
            {#            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a#}
            {#                    class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a>#}
            {#            </div>#}
        </div>
    </div>
</footer>
<!-- Toolbar for handheld devices (Default)-->
<div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
                                                     href="/wishlist"><span class="handheld-toolbar-icon"><i
            class="ci-heart"></i></span><span class="handheld-toolbar-label">{{ ("Wishlist") }}</span></a><a
            class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i
            class="ci-menu"></i></span><span class="handheld-toolbar-label">{{ ("Menu") }}</span></a><a
            class="d-table-cell handheld-toolbar-item" href="/shoppingCart"><span class="handheld-toolbar-icon"><i
            class="ci-cart"></i><span class="badge bg-primary rounded-pill ms-1" id="mobile-amount">0</span></span><span
            class="handheld-toolbar-label" id="mobile-total">&yen;0.00</span></a></div>
</div>
<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
        class="btn-scroll-top-tooltip text-muted fs-sm me-2">{{ ("Top") }}</span><i
        class="btn-scroll-top-icon ci-arrow-up"> </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="../static/Test/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/Test/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="../static/Test/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../static/Test/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Main theme script-->
<script src="../static/Test/js/theme.min.js"></script>
<script src="../static/script/jquery-3.5.1.js"></script>
</body>

{% block script %}
{% endblock %}

</html>